body{
	background:#fff;
	min-height: 100vh;
    background-size: 100vw 100vh;
	background:#181a1d;
	position: fixed;
	display: flex;
	gap:10px;
	justify-content: space-between;
}
.game_details{
    font-size: 35px;
    font-weight: bold;
    color:#fff;
    text-align: center;
    padding:20px;
}
#board{
	height:90vh;
	width:80vw;
	background:#181a1d;
	display: grid;
	grid-template-rows: repeat(20,1fr);
	grid-template-columns: repeat(20,1fr);
	border:10px dashed red;
}
.head{
	background-color: #2ECC40;
	border:5px solid #2ECC40;
	box-shadow: 0 0 5px #2ECC40;
	border-radius:30px;
}
.snake{
    background-color: #fff000;
    border: 5px solid #fff;
    box-shadow: 0 0 5px #2ECC40;
	border-radius:20px;
}
.top{
	border-top-right-radius: 150px;
	border-top-left-radius: 150px;
	border-top-color: yellow;
}
.bottom{
	border-bottom-left-radius: 150px;
	border-bottom-right-radius: 150px;
	border-bottom-color: yellow;
}
.left{
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border-left-color: yellow;
}
.right{
	border-top-right-radius:50px;
	border-bottom-right-radius: 50px;
	border-right-color: yellow;
}
.food{
	background:#fff000;
	border:3px solid #fff;
	border-radius:10px;
	height:25px;
	width:25px;
	animation-name:foodanimation;
	animation-duration: 0.3s;
	animation-iteration-count:infinite;
	transition:0.1s;
}
@keyframes foodanimation{
	from{
		scale:1.5;
	}
	to{
		scale:1;
	}
}